<tr>
  <td><%= result["street"] %></td>
  <td><%= result["side"] %></td>
  <td>From <%= result["from"] %> to <%= result["to"] %></td>
  <td><%= schedule(result) %></td>
  <td><%= render partial: "searches/notify", locals: {street_id: result["crossstreetmainid"]} %></td>
</tr>

